h1 {
    color: darkslateblue;
}

#inputTask {
    background-color: lavender;
}

.list {
    list-style: none;
}

.task {
    cursor: pointer;
}

.closeBtn {
    display: none;
    background: red;
    color: #f2f2f2;
    border-radius: 1em;
}

#todo-list:hover .closeBtn {
    display: inline-block !important;
    cursor: pointer;
}